@import url("reset.css");
body {
  background-color: black;
  font-weight: 500;
}
body .banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6)), url(../img/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid blue;
  margin: auto;
}
body .banner .bg-logo {
  background-color: rgba(0, 0, 0, 0.2);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 16px;
}
body .banner .bg-logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body .banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33a8db, #1472b7);
  background-clip: text;
  -webkit-background-clip: text;
}
body .banner .banner-content {
  color: white;
  width: 600px;
  margin: auto;
  text-align: center;
  background: transparent;
}
body .banner .banner-content button {
  color: #31a8dd;
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border-image: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 10;
  border-radius: 30px;
}
body .banner .banner-content p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}
body main section {
  margin: 100px auto;
}
body main section h2 {
  font-size: 2rem;
  color: #33a8db;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
body main #knowhow {
  width: 800px;
  text-align: center;
}
body main #knowhow .modules-list {
  margin: 24px 0;
}
body main #knowhow .modules-list .module {
  color: white;
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #33a8db;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}
body main #knowhow .modules-list .module span {
  color: #1472b7;
  font-weight: 600;
}
body main #upgradeCareer {
  text-align: center;
  width: 800px;
}
body main #transformWorld {
  height: 560px;
  background-size: cover;
  background-image: url(../img/dio1.png);
  background-attachment: local;
  border-top: 1px solid rgba(51, 168, 219, 0.5019607843);
  border-bottom: 1px solid rgba(51, 168, 219, 0.5019607843);
  padding: 200px;
}
body main #transformWorld p {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #33A8DB;
}
body main p {
  color: white;
}
body main #upgradeCareer {
  text-align: center;
  width: 800px;
}
body main #upgradeCareer img {
  margin: 32px 0;
}
body footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, 0), rgba(50, 168, 219, 0.2));
  border-top: 1px solid rgba(51, 168, 219, 0.5019607843);
}
body footer p {
  color: white;
}
body footer a {
  text-decoration: none;
  color: lightblue;
}

/*# sourceMappingURL=style.css.map */
